:root {
  --banana: #FFE81F;
  --aqua: rgb(0, 255, 255);
  --margin1: 1rem;
  --margin2: 2rem;
  --margin3: 3rem;
  --margin5: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: relative;
  background-image: url('../assets/imagens/backgrund.jpg');
  overflow-x: hidden;
}

.container {
  margin: 0 10%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  pointer-events: none;
  user-select: none;
  width: 200px;
  margin-top: var(--margin1);
  font-size: 14px;
  animation-name: title;
  animation-duration: 3s;
}

@keyframes title {
  from {
    margin-left: 100rem;
  }

  to {
    margin-left: 0;
  }
}

.border-star-wars {
  pointer-events: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: var(--margin3) var(--margin1) 0 var(--margin1);
  border: 6px solid var(--banana);
  border-radius: 20px;
  background-color: black;
  min-width: 300px;
  max-height: 150px;
  max-width: 350px;
}

#img-star-wars {
  display: flex;
  width: 70%;
  height: 140%;
  animation-name: img-star-wars;
  animation-duration: 3s;
}

main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img-robo {
  position: absolute;
  pointer-events: none;
  user-select: none;
  bottom: 12rem;
  top: -1rem;
  right: -5rem;
  height: 25rem;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-name: robo;
}

@keyframes robo {
  0% {
    top: -1rem;
  }

  50% {
    top: 1rem;
  }

  100% {
    top: -1rem;
  }
}

.card-box {
  position: absolute;
  top: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--banana);
  color: black;
  font-weight: 700;
  font-size: 2.5rem;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
}

.card:hover {
  background-color: rgb(252, 252, 252);
  transition: 0.3s;
}

.link {
  text-decoration: none;
}

.card-box a {
  color: black;
}
